/*.addsubject {
  height: 300px;
  width: 48%;
  border-right: 1px solid #bac2c6;
  display: inline;
  float: left;
}

.left {
  width: 50%;
  display: inline;
  float: left;
}

.left button {
  margin-top: 35px;
  display: block;
  font-size: 15px;
  float: left;
}

.right {
  width: 50%;
  display: inline;
  float: right;
}

.row {
  display: block;
}*/
