.config {
  padding: 15px;
  padding-left: 30px;
  margin: auto;
}
.dates {
  width: 400px;
  height: 100px;
  display: block;

}

.dates h3 {
  margin-bottom: 0;
}

.left {
  width: 50%;
  display: inline;
  float: left;
}

.right {
  width: 50%;
  display: inline;
  float: right;
}

.durations {
  width: 900px;
  height: 100px;
}

.durations h3 {
  margin-bottom: 0;
}

.label {
  width: 30%;
  display: inline-block;;
}

.label p {
  width: 100%;
  display: inline-block;
}
