.login {
  width: 370px;
  height: 300px;
  padding-top: 10px;
  text-align: center;
  position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.login h1 {
  width: 100%;
  padding: 0;
  font-size: 35px;
  font: 30px 'Roboto';
  font-weight: 500;
  border-left: 3px solid #B42800;
  color: #B42800;
}


.login h2 {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font: 28px 'Roboto';
  font-weight: 300;
  border-bottom: 1px solid #B42800;
  padding-bottom: 15px;
}


.google button {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
  font-family: "Roboto", Roboto, arial, sans-serif;
 background: #DD4B39;
}
.google button:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
  border-right: #BB3F30 1px solid;
background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.google button:focus {
  outline: none;
}
.google button:active,
.google button:hover {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
  background: #E74B37;
}
