
.parent {
  width: 900px;
  max-width: 700;
  height: 560px;
  margin: auto;
  position:relative;
}

.paper {
  width: 830px;
  height: 420px;
  margin: auto;
}

.timetable {
  font-family: sans-serif;
  margin-left: 210px;
  margin-right: 210px;
}

.buttons {
  margin-top: 12px;
  margin-right: 25px;
  position: absolute;
    bottom: 0;
    right: 0;

}

.submit {
  font-size: 15px;
  margin-top: 40px;
  margin-bottom: 20px;
  display: block;
  float: right;
}

.form {
  margin: auto;
}

.subjects {
width: 100%;
 height: 300px;
 margin: auto;
 padding: 10px;
}
